.main-container {
    margin: auto;
    max-width: 1010px;
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    text-align: center;
}
.network-graph-container {
    margin: auto;
    width: 100%;
}
.network-graph-content {
    margin: auto;
    width: 100%;
    aspect-ratio: 3/2;
}
.button-container {

}
.table-container {
    margin: auto;
    width: 100%;
}
.table-content {
    margin: auto;
    min-width: 500px;
    text-align: center;
}
.histogram-container {
    margin: auto;
    width: 100%;
    min-height: 750px;
    text-align: center;
}
.histogram-content {
    margin: auto;
    width: 100%;
    min-height: 700px;
}
.user-influence-container {
    margin: auto;
    width: 100%;
    text-align: center;
}
.user-influence-content {
    margin: auto;
    width: 100%;
    aspect-ratio: 1;
}
body {
    background: #ededed;
}
label {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
}
p, ol {
    text-align: justify;
}
#next-button {
    width: 10%;
}
#back-button {
    width: 10%;
}
