.bar-chart-title {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    font-size: 24px;
    text-anchor: middle;
}
.button {
    fill: steelblue;
    r: 25px;
}
.button-highlight {
    fill: orange;
    stroke: black;
    r: 31px;
}
.button-text {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    font-size: 14px;
    text-anchor: middle;
}
.button-text-highlight {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    font-size: 20px;
    text-anchor: middle;
}
.highlight {
    fill: orange;
    stroke: black;
}
.val {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    text-anchor: start;
}
.chart-background-debug {
    width: 700px;
    height: 600px;
    background-color: pink;
}
.chart-background {
    background-color: #ededed;
}
.bar {
    fill: #69b3a2;
}
.main-container {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    text-align: center;
    text-anchor: middle;
    width: 850px;
    margin: auto;
}
.text {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    text-align: justify;
}